"*":
  editor:
    fontSize: 14
    showInvisibles: true
    showIndentGuide: true
    tabLength: 4
    invisibles: {}
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  "exception-reporting":
    userId: "0fa89441-37fe-d294-e5b0-126682b1a132"
  welcome:
    showOnStartup: false
